
h1{
color:white;
background-color: blue;
}
p{
color: white;
background-color: blue;
}
footer{
color: white;
background-color: blue
}
.container {color: black
;background-color: grey}
P{background-color: green}
